/* Fonts */

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 900;
    src: url("../public/fonts/ttf/yekanbakh.ttf");
    src:
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/yekanbakh.ttf")
        format("truetype");
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

/* fireFox */
.scrollable {
    scrollbar-width: thin; /* none | auto  */
    scrollbar-color: #151516 transparent;
}

/* Chrome,Edge */
.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.scrollable::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151516;
}

/* input autoFill bg color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #24242a inset !important;
    border-left: 8px solid #24242a;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #bdbdbd !important;
}

@media screen and (max-width: 980px) {
    .makeStyles-parentLogoAndSignUp-5 {
        top: 0 !important;
    }
}
@media screen and (max-width: 690px) {
    .makeStyles-parentCaption-6 {
        top: 0 !important;
    }
}
