/* Fonts */

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 200;
    src: url("../public/fonts/eot/Yekan Bakh FA 01 Hairline.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 01 Hairline.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 01 Hairline.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 01 Hairline.ttf")
            format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url("../public/fonts/eot/Yekan Bakh FA 02 Thin.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 02 Thin.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 02 Thin.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 02 Thin.ttf")
            format("truetype");
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url("../public/fonts/eot/Yekan Bakh FA 03 Light.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 03 Light.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 03 Light.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 03 Light.ttf")
            format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url("../public/fonts/eot/Yekan Bakh FA 04 Regular.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 04 Regular.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 04 Regular.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 04 Regular.ttf")
            format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: url("../public/fonts/eot/Yekan Bakh FA 05 Medium.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 05 Medium.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 05 Medium.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 05 Medium.ttf")
            format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url("../public/fonts/eot/Yekan Bakh FA 06 Bold.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 06 Bold.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 06 Bold.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 06 Bold.ttf")
            format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 800;
    src: url("../public/fonts/eot/Yekan Bakh FA 07 Heavy.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 07 Heavy.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 07 Heavy.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 07 Heavy.ttf")
            format("truetype");
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url("../public/fonts/eot/Yekan Bakh FA 08 Fat.eot");
    src: url("../public/fonts/eot/Yekan Bakh FA 08 Fat.eot?#iefix") format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../public/fonts/woff/Yekan Bakh FA 08 Fat.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../public/fonts/ttf/Yekan Bakh FA 08 Fat.ttf")
            format("truetype");
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

/* fireFox */
.scrollable {
    scrollbar-width: thin; /* none | auto  */
    scrollbar-color: #151516 transparent;
}

/* Chrome,Edge */
.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.scrollable::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #151516;
}

/* input autoFill bg color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #24242a inset !important;
    border-left: 8px solid #24242a;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #bdbdbd !important;
}

@media screen and (max-width: 980px) {
    .parentLogoAndSignUp {
        top: 0 !important;
    }
}
@media screen and (max-width: 690px) {
    .parentCaption {
        top: 0 !important;
    }
}

@media screen and (max-width: 1368px) {
    .bannerContent {
        width: 100% !important;
    }
    .banner {
        justify-content: space-evenly;
    }
    .bannerSvg {
        margin: 0 !important;
    }
}

@media screen and (max-width: 1100px) {
    .footer {
        justify-content: center !important;
        align-items: center !important;
        padding-top: 50px !important;
    }
}

@media screen and (max-width: 836px) {
    .slogan {
        justify-content: center !important;
    }
}

@media screen and (max-width: 1005px) {
    .majorBox > div {
        flex-basis: 100% !important;
    }
    .banner > div {
        flex-basis: 100% !important;
        justify-content: center;
    }
    .bannerSvg {
        display: flex;
    }
}

@media screen and (max-width: 742px) {
    .parentEducationBoxes {
        justify-content: center !important;
    }

    .drSamieeBox img {
        display: none !important;
    }

    .educationDetailsBox > div {
        flex-basis: 100% !important ;
    }
}
